.App-header {
  text-align: center;
  margin-top: -20vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@keyframes swinging{
  0%{transform: rotate(4deg);}
  50%{transform: rotate(-12deg)}
  100%{transform: rotate(4deg);}
}

.App-logo{
  transform-origin: 50% 50%;
  animation: swinging 10s ease-in-out forwards infinite;
}


body {
  
  /* background-color: pink; */
}
.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.input-text {
  font-family: 'Patrick Hand';
  font-size: 1.25rem;
  background: white;
  color: black;
  border-radius: 20px;
  padding: 3px 5px 5px 10px;
  margin: 5px 0;
}

.account-form > input:focus {
  outline: 0;
}

.login-button {
  font-family: 'Patrick Hand';
  font-size: 1.25rem;
  background: black;
  color: white;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  /* margin: 0 auto;
  text-align: center; */
}

.form-button{
  font-family: 'Patrick Hand';
  font-size: 1.25rem;
  background: white;
  color: black;
  border-radius: 20px;
  padding: 0 5px;
  margin-top: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15vh;
}

.dashboard{
  display: flex;
  padding: 0 2%;
}

.club-list-container{
  border: 1px solid #bbb;
  padding: 10px 30px 10px 10px;
}

.club-sublist{
  list-style: none;
  padding: 10px;

}
.club-list-title{
  font-weight: normal;
  font-size: 16pt;
  border-bottom: 1px solid #bbb;
  width: max-content;
  margin-top: 0;
  margin-bottom: 5px;
  opacity: 1;
}

.club-name{
  font-size: 18px;
  opacity: 0.5;
  transition: all 0.3s;
}

.club-name:hover{
  opacity: 0.8;
  cursor: pointer;
}

.selected{
  opacity: 1;
}


.admin{
  background-color: rgb(255, 255, 192);
}

.club-form-container{
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background-color: black;
}
.close-button{
  color: white;
}