.App-header {
  text-align: center;
  margin-top: -20vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: pink; */
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 10px;
  gap: 10px;
  font-family: Brush Script MT;
}

.login-button {
  margin-left: 38%;
}

