.App-header {
  text-align: center;
  margin-top: -20vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: pink; */
}


.account-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  
  
}
.input-text {
  font-family: 'Patrick Hand SC';
  font-size: 1.25rem;
  background: white;
  color: black;
  border-radius: 20px;
  padding: 3px 5px 5px 10px;
  margin: 5px 0;
}

.account-form > input:focus {
  outline: 0;
}

.login-button {
  font-family: 'Patrick Hand SC';
  font-size: 1.25rem;
  background: black;
  color: white;
  border-radius: 20px;
  padding: 5px;
  margin-top: 10px;
  /* margin: 0 auto;
  text-align: center; */
}

.form-button{
  font-family: 'Patrick Hand SC';
  font-size: 1.25rem;
  background: white;
  color: black;
  border-radius: 20px;
  padding: 0 5px;
  margin-top: 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}